body{
    background-color: #555555;
}

.main-counter{
    margin-top: 50px;
    margin-bottom: 25px;
}

.map-body{
    margin-bottom: 50px;
}

.row{
    justify-content: center;
}
/*POPOVER CSS*/
.popover-header{
    text-align: center;
    color: forestgreen;
}

.popover-body{
    text-align: center;
    color: darkblue;
}

/* LOADING OVERLAY */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

/* MAP CSS */
/*map-body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    overflow: hidden;
}*/
svg {
    width: 90vw;
    height: 65vh;
}
path {
    fill: #555;
    cursor: pointer;
}
path:hover {
    fill: mediumaquamarine;
}